@import './reset.css';
@import './fonts.css';

:root {
    --left-panel-color: #F3F4F9;
    --theme-color: #34ABE0;
}

* {
    font-family: 'Open Sans', sans-serif;
}

.left-panel {
    width: 246px;
    height: 100vh;
    background: var(--left-panel-color);
} 

.panel-content {
    /* padding: 40px 0 0 43px; */
    padding: 40px 0 0 0; 
}

.left-panel__logo {
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-bottom: 67px;
    margin: 0 0 43px 43px;
}

.left-panel__logo img {
    width: 50px;
    height: 50px;
    margin: 0 10px 0 0;
}

.left-panel__list {
    font-size: 16px;
}

.left-panel__item {
    margin: 0 0 42px 0;
    display: flex;
    align-items: center;
    padding: 0 0 0 43px;
}

.left-panel__item.active {
    border-left: 3px solid var(--theme-color);
    padding: 0 0 0 40px;
}

.left-panel__item a {
    margin: 0 0 0 14px;
}

.main-wrapper {
    display: flex;
}

.search-wrapper {
    height: 201px;
}

.right-wrapper {
    display: flex;
    width: calc(100vw - 246px);
    flex-direction: column;
}

.search-content {
    padding: 40px 0 0 60px;
}

.search__title {
    font-size: 28px;
    font-weight: 600;
    margin: 0 0 31px 0;
}

.search {
    border: 1px solid #8c8c8d;
    border-radius: 50px;
    padding: 12px 20px;
    width: calc(100% - 60px);
    display: flex;
    align-items: center;
}

.search input {
    width: 100%;
    background: none;
    font-size: 18px;
    color: #8c8c8d;
    margin: 0 0 0 10px;
}