@import './reset.css';
@import './fonts.css';

:root {
    --left-panel-color: #F3F4F9;
    --theme-color: #34ABE0;
    --something-name: #8c8c8d;
}

* {
    font-family: 'Open Sans', sans-serif;
}

.left-panel {
    width: 246px;
    height: 100vh;
    background: var(--left-panel-color);
} 

.panel-content {
    /* padding: 40px 0 0 43px; */
    padding: 40px 0 0 0; 
}

.left-panel__logo {
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-bottom: 67px;
    margin: 0 0 43px 43px;
}

.left-panel__logo img {
    width: 50px;
    height: 50px;
    margin: 0 10px 0 0;
}

.left-panel__list {
    font-size: 16px;
}

.left-panel__item {
    margin: 0 0 42px 0;
    display: flex;
    align-items: center;
    padding: 0 0 0 43px;
}

.left-panel__item.active {
    border-left: 3px solid var(--theme-color);
    padding: 0 0 0 40px;
}

.left-panel__item a {
    margin: 0 0 0 14px;
}

.main-wrapper {
    display: flex;
}

.search-wrapper {
    height: 201px;
}

.right-wrapper {
    display: flex;
    width: calc(100vw - 246px);
    flex-direction: column;
}

.search-content {
    padding: 40px 0 0 60px;
}

.search__title {
    font-size: 28px;
    font-weight: 600;
    margin: 0 0 31px 0;
}

.search {
    border: 1px solid var(--something-name);
    border-radius: 50px;
    padding: 12px 20px;
    width: calc(100% - 60px);
    display: flex;
    align-items: center;
}

.search input {
    width: 100%;
    background: none;
    font-size: 18px;
    color: #000;
    margin: 0 0 0 10px;
}

.search input::palceholder {
    color: var(--something-name);
}

.card-wrapper {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 120px);
    margin: 0 auto;
    padding: 40px 60px 0 60px;
    /* grid-template-columns: repeat(3, 1fr); */
}

.card {
    padding: 10px;
    justify-content: space-between;
    display: flex;
    font-family: 'Roboto', sans-serif;
    position: relative;
    width: 347px;
    background: url("../img/content/border.svg") no-repeat;
    background-color: #fff;
}

.card:hover {
    background: url("../img/content/borderHover.svg") no-repeat;
}

.card__title {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 4px 0;
}

.card__p {
    font-size: 16px;
    color: var(--something-name)
}

.card-red {
    color: #DF212D;
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 6px;
}

.card__discount {
    letter-spacing: 0.4em;
    text-transform: uppercase;
    font-size: 16px;
    color: var(--something-name);
    text-align: center;
}

.card-text {
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.card-down {
    position: absolute;
    width: calc((100% - 130px) / 2);
    bottom: 16px;
    left: 0;
}

.card-right {
    min-width: 130px;
    max-width: 130px;
}

.content-wrapper {
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(3, 1fr);  
    grid-row-gap: 20px;
    justify-content: space-between;
    justify-items: center;

}