@import './variables.css';

@media (min-width: 1373px) {
    .card-wrapper {
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .right-wrapper.active {
        width: calc(100vw - 264px);
    }

    .right-wrapper.active .search__title {
        margin: 0 0 33px 0;
    }

    .right-wrapper.active .card__container {
        grid-template-columns: 1fr;
        width: auto;
        padding: 40px 15px;
    }



    .left-panel__logo img {
        height: 24px;
        width: 24px;
    }

    .left-panel .left-panel__list .left-panel__item a {
        display: none
    }

    .left-panel .left-panel__logo a {
        display: none
    }

    .left-panel.active .left-panel__logo a {
        display: block
    }

    .left-panel.active {
        min-width: 264px;
    }
    
    .left-panel {
        min-width: 104px;
    }

    .burger-wrapper {
        display: block;
    }

    .left-panel.active .burger-wrapper {
        left: 197px;
    }

    .card__container {
        width: 630px;
        grid-template-columns: repeat(2, 1fr);
    }

    .card {
        width: 296px;
        height: 144px;
    }

    .card h1 {
        padding-top: 31px;
    }

    .card h2, .card h3 {
        font-size: 14px;
    }

    .card-wrapper {
        flex-direction: column;
    }

    .burger-wrapper.active {
        left: 264px;
    }

    .left-panel.active .left-panel__list .left-panel__item a {
        display: block
    }

    .left-panel .left-panel__logo {
        margin: 0 0 43px 35px;
    }
    
    .left-panel__item {
        padding: 0 0 0 35px;
    }

    .left-panel__item.active {
        border-left: 2px solid var(--theme-color);
    }
}

@media (max-width: 320px) {
    .search-wrapper {
        position: relative;
        width: 100%;
        min-height: 181px;
    }

    .search-content {
        position: absolute;
        top: 8px;
        right: 20px;
        padding: 0;
    }  

    .left-panel .panel-content {
        display: none;
    }

    .left-panel.active {
        width: 104px;
        display: block;
    }

    .burger-wrapper {
        left: 0;
    }

    .card__container {
        grid-template-columns: 1fr;
    }

    .card h2 {
        font-size: 12px;
    }

    .card h3 {
        font-size: 12px;
    }

    .card h1 {
        font-size: 28px;
        padding-top: 24px;
    }

    .card p {
        font-size: 12px;
    }

    .card__container {
        width: 320px;
    }

    .card {
        width: 268px;
        height: 130px;
    }

    .search__title {
        text-align: right;
    }

    .left-panel.active {
        top: 0;
        bottom: 0;
        left: 0;
    }

    .left-panel.active .panel-content {
        display: block;
    }

    .left-panel {
        top: 0;
        left: 0;
        bottom: 0;
        position: absolute;
        z-index: 3;
        left: -96px;
    }
    
    .search {
        width: 125%;
        position: relative;
        top: 4px;
        right: 52px;
    }

    .search input {
        font-size: 14px;
    }

    .without-title {
        width: 113% !important;
        right: 26px !important;
        top: 24px !important;
    }
}